@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$bgColor: #ffeecc;
$headingColor: #e9c784;
$mainColor: #6b4b0b;
$fontFamily: Roboto;

body {
  background-color: $bgColor;
  padding-top: 5%;
  color: $mainColor;
  font-family: $fontFamily;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  width: 550px;
}

.footer {
  font-size: 0.75rem;
  font-weight: 100;
  padding: 1rem 0.5rem;
}

h1 {
  text-align: center;
  color: $headingColor;
  font-family: $fontFamily;
  font-size: 5rem;
  font-weight: 100;
}

input[type='text'] {
  width: 100%;
  border: 0;
}

.remove-task {
  color: red;
  font-weight: 900;
  font-size: 1.3rem;
  float: right;
  background-color: transparent;
  border: none;
  display: none;
}

.list-group-item:hover button {
  display: inline;
}
